{% extends "auctions/layout.html" %}

{% block body %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
<div class="hide_active">{% block active %}active{% endblock %}</div>
<h2>Active Listings</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for each_listing in listings_with_bids %}
    <div class="col">
      <div class="card">
        <a href="{% url 'listing_page' each_listing.listing_id %}"><img class="image_size"  src="{{each_listing.image_url}}" class="card-img-top" alt="{{each_listing.title}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{each_listing.title}}</h5>
          <p class="card-text">{{each_listing.description|truncatewords:15}}</p>
          <h6 class="card-title">${{each_listing.bid}}</h6>
          <a href="{% url 'listing_page' each_listing.listing_id %}" class="btn btn-primary">place your bid here</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">{{each_listing.timestamp}}</small>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}