{% extends "auctions/layout.html" %}
{% block title %}{{listing.title}}{% endblock %}
{% block body %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-5">
      <img src="{{listing.image_url}}" class="img-thumbnail image_size" alt="this is a image of {{listing.title}}">
    </div>
    <div class="col-5 ">
      <div class="card" style="width: auto;">
        <div class="card-body">
          <div class="float-end">
            {% if is_this_in_wishlist == False%}
            
            <form action="{% url 'wishlist' %}" method="post">
              {% csrf_token %}
              {{hidden_listing_id}}
              <input type="submit" value="⭐">
            </form>
            {% else %}
              <form action="{% url 'remove_wishlist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="wishlist_id" value="{{listing.id}}">
                <input type="hidden" name="which_page" value="True">
                <input type="submit" value="🚫">
              </form>
            {% endif %}
          </div>
          <div class="float-start>
          <h4 class="card-title">{{listing.title}}</h4>
          </div>
          <div class="mt-3">
          <h5 class="card-subtitle mb-2 text-body-secondary">$ {{bid}}</h5>
          </div>
          <p class="card-text">{{listing.description}}</p>
          {% if listing.user == request.user %}
          <form action="{% url 'close_auction' %} " method="post">
            {% csrf_token %}
            <input type="hidden" name="hidden_id" value="{{listing.id}}">
            <input type="hidden" name="which_page" value="True">
            <input type="submit" value="Close the Auction">
          </form>
          {% elif listing.is_auction_active == True %}

          <form action="{% url 'listing_page' listing.id %} " method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <span class="input-group-text">{{bid_form.current_bid.label_tag}}</span>
              {{bid_form.listing_id}}
              {{bid_form.current_bid}}
              <button type="submit" class="btn btn-primary">Place this bid</button>
            </div>
          </form>
          {% else %}
          <div>
            this listing is closed wining Bidder is {{bid.user}}
          </div>
          {% endif %}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            biding history
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">All the previous bids</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    {% for each_bid in bid_histroy %}
                    <div class="row">
                      <div class="col-md-12">@{{each_bid.user}}: ${{each_bid.bid}} at {{each_bid.timestamp}} </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<form action="{% url 'comment_section' %}" method="post" class="mt-4">
  <div class="form-floating">
    {% csrf_token %}
    {{hidden_listing_id}}
    {{comments_form}}
    <label for="floatingTextarea">Comments</label>
    <div class="d-grid d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary mt-2">Post</button>
    </div>
  </div>
</form>

{% if comment_section == "wow such empty" %}
<div>
     Comments: {{total_comments}}
</div>
<div class="card mt-2 " style="width: auto">
  <div class="card-body d-grid d-md-flex justify-content-md-center">
    <h3>
       🐱 {{comment_section}}
    </h3>
  </div>
</div>
{% else %}
<div>
  Comments: {{total_comments}}
</div>
{%for each_comment in comment_section %}
{% if each_comment.user == request.user %}
<form action="{% url 'del_comment' %}" method="post" class="mt-2">
  {% csrf_token %}
  <input type="hidden" name="comment_id" value="{{each_comment.id}}">
  <div class="card" style="width: auto">
    <div class="card-body">
      <div class="mb-4">
        <h4><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
          </svg>
          {{each_comment.user}}</h4>
      </div>
      <p class="card-text">
        {{each_comment.comment}}
      </p>
      <div class="d-grid d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-danger mt-1">Delete</button>
      </div>
    </div>
  </div>
</form>
{% else %}

<div class="card" style="width: auto">
  <div class="card-body">
    <div class="mb-4">
      <h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
        {{each_comment.user}}
      </h4>
    </div>
    <p class="card-text">
      {{each_comment.comment}}
    </p>
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}